In [51]:
import time
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import configparser
from datetime import datetime
import numpy as np

In [52]:
df = pd.read_csv("./financial_data.csv", encoding='utf-8')
df

,Unnamed: 0,date_time,company_code,periodType,TotalAssets,TotalCapitalization,TotalDebt,ShareIssued,NetDebt,FreeCashFlow,OperatingCashFlow,EBIT,EBITDA,TotalRevenue
0,0,2021-12-31,095570.KS,3M,1.355044e+12,7.824658e+11,8.717952e+11,46822295.0,7.444261e+11,-2.684438e+10,-5.686381e+09,2.085520e+10,NaN,2.311719e+11
1,1,2022-03-31,095570.KS,3M,1.367232e+12,7.085494e+11,8.722443e+11,46822295.0,7.616987e+11,-5.684873e+09,2.986065e+09,1.924275e+10,NaN,2.958036e+11
2,2,2022-06-30,095570.KS,3M,1.393164e+12,7.417214e+11,8.944401e+11,46822295.0,7.945438e+11,-2.998212e+10,-2.307404e+10,2.017060e+10,NaN,2.841796e+11
3,3,2022-09-30,095570.KS,3M,1.502038e+12,6.878904e+11,9.707050e+11,46822295.0,8.505236e+11,-3.782955e+10,-3.116973e+10,2.018529e+10,NaN,3.451102e+11
4,0,2021-12-31,006840.KS,3M,4.548737e+12,1.717820e+12,2.206182e+12,13247561.0,1.690948e+12,-2.981232e+10,1.132202e+10,-5.017029e+10,NaN,8.130565e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4924,0,2022-01-31,ZS,3M,2.422021e+09,1.480059e+09,9.896370e+08,141063000.0,5.308730e+08,2.944900e+07,4.826200e+07,-8.491000e+07,NaN,2.555630e+08
4925,1,2022-04-30,ZS,3M,2.524544e+09,1.486155e+09,1.005206e+09,141847000.0,3.596850e+08,4.374500e+07,7.724100e+07,-8.835000e+07,NaN,2.868070e+08
4926,2,2022-07-31,ZS,3M,2.832665e+09,1.541974e+09,1.045722e+09,143038000.0,NaN,7.477100e+07,1.031380e+08,-8.140700e+07,NaN,3.180590e+08
4927,3,2022-10-31,ZS,3M,2.835732e+09,1.570817e+09,1.219253e+09,144210000.0,5.459700e+07,9.561400e+07,1.284570e+08,-6.305700e+07,NaN,3.555480e+08
4928,4,2023-01-31,ZS,3M,3.039956e+09,1.669173e+09,1.215922e+09,145087000.0,NaN,6.281800e+07,8.948100e+07,-5.340100e+07,NaN,3.875980e+08

In [53]:
df = df.drop(columns='Unnamed: 0')
df

,date_time,company_code,periodType,TotalAssets,TotalCapitalization,TotalDebt,ShareIssued,NetDebt,FreeCashFlow,OperatingCashFlow,EBIT,EBITDA,TotalRevenue
0,2021-12-31,095570.KS,3M,1.355044e+12,7.824658e+11,8.717952e+11,46822295.0,7.444261e+11,-2.684438e+10,-5.686381e+09,2.085520e+10,NaN,2.311719e+11
1,2022-03-31,095570.KS,3M,1.367232e+12,7.085494e+11,8.722443e+11,46822295.0,7.616987e+11,-5.684873e+09,2.986065e+09,1.924275e+10,NaN,2.958036e+11
2,2022-06-30,095570.KS,3M,1.393164e+12,7.417214e+11,8.944401e+11,46822295.0,7.945438e+11,-2.998212e+10,-2.307404e+10,2.017060e+10,NaN,2.841796e+11
3,2022-09-30,095570.KS,3M,1.502038e+12,6.878904e+11,9.707050e+11,46822295.0,8.505236e+11,-3.782955e+10,-3.116973e+10,2.018529e+10,NaN,3.451102e+11
4,2021-12-31,006840.KS,3M,4.548737e+12,1.717820e+12,2.206182e+12,13247561.0,1.690948e+12,-2.981232e+10,1.132202e+10,-5.017029e+10,NaN,8.130565e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4924,2022-01-31,ZS,3M,2.422021e+09,1.480059e+09,9.896370e+08,141063000.0,5.308730e+08,2.944900e+07,4.826200e+07,-8.491000e+07,NaN,2.555630e+08
4925,2022-04-30,ZS,3M,2.524544e+09,1.486155e+09,1.005206e+09,141847000.0,3.596850e+08,4.374500e+07,7.724100e+07,-8.835000e+07,NaN,2.868070e+08
4926,2022-07-31,ZS,3M,2.832665e+09,1.541974e+09,1.045722e+09,143038000.0,NaN,7.477100e+07,1.031380e+08,-8.140700e+07,NaN,3.180590e+08
4927,2022-10-31,ZS,3M,2.835732e+09,1.570817e+09,1.219253e+09,144210000.0,5.459700e+07,9.561400e+07,1.284570e+08,-6.305700e+07,NaN,3.555480e+08
4928,2023-01-31,ZS,3M,3.039956e+09,1.669173e+09,1.215922e+09,145087000.0,NaN,6.281800e+07,8.948100e+07,-5.340100e+07,NaN,3.875980e+08

In [43]:
df.index = np.arange(1, len(df) + 1)

In [44]:
df

,date_time,company_code,periodType,TotalAssets,TotalCapitalization,TotalDebt,ShareIssued,NetDebt,FreeCashFlow,OperatingCashFlow,EBIT,EBITDA,TotalRevenue
1,2021-12-31,095570.KS,3M,1.355044e+12,7.824658e+11,8.717952e+11,46822295.0,7.444261e+11,-2.684438e+10,-5.686381e+09,2.085520e+10,NaN,2.311719e+11
2,2022-03-31,095570.KS,3M,1.367232e+12,7.085494e+11,8.722443e+11,46822295.0,7.616987e+11,-5.684873e+09,2.986065e+09,1.924275e+10,NaN,2.958036e+11
3,2022-06-30,095570.KS,3M,1.393164e+12,7.417214e+11,8.944401e+11,46822295.0,7.945438e+11,-2.998212e+10,-2.307404e+10,2.017060e+10,NaN,2.841796e+11
4,2022-09-30,095570.KS,3M,1.502038e+12,6.878904e+11,9.707050e+11,46822295.0,8.505236e+11,-3.782955e+10,-3.116973e+10,2.018529e+10,NaN,3.451102e+11
5,2021-12-31,006840.KS,3M,4.548737e+12,1.717820e+12,2.206182e+12,13247561.0,1.690948e+12,-2.981232e+10,1.132202e+10,-5.017029e+10,NaN,8.130565e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4925,2022-01-31,ZS,3M,2.422021e+09,1.480059e+09,9.896370e+08,141063000.0,5.308730e+08,2.944900e+07,4.826200e+07,-8.491000e+07,NaN,2.555630e+08
4926,2022-04-30,ZS,3M,2.524544e+09,1.486155e+09,1.005206e+09,141847000.0,3.596850e+08,4.374500e+07,7.724100e+07,-8.835000e+07,NaN,2.868070e+08
4927,2022-07-31,ZS,3M,2.832665e+09,1.541974e+09,1.045722e+09,143038000.0,NaN,7.477100e+07,1.031380e+08,-8.140700e+07,NaN,3.180590e+08
4928,2022-10-31,ZS,3M,2.835732e+09,1.570817e+09,1.219253e+09,144210000.0,5.459700e+07,9.561400e+07,1.284570e+08,-6.305700e+07,NaN,3.555480e+08
4929,2023-01-31,ZS,3M,3.039956e+09,1.669173e+09,1.215922e+09,145087000.0,NaN,6.281800e+07,8.948100e+07,-5.340100e+07,NaN,3.875980e+08

In [45]:
# df.reset_index(inplace=True)
# df = df.rename(columns = {'index':'financial_information_id'})
# df

,financial_information_id,date_time,company_code,periodType,TotalAssets,TotalCapitalization,TotalDebt,ShareIssued,NetDebt,FreeCashFlow,OperatingCashFlow,EBIT,EBITDA,TotalRevenue
0,1,2021-12-31,095570.KS,3M,1.355044e+12,7.824658e+11,8.717952e+11,46822295.0,7.444261e+11,-2.684438e+10,-5.686381e+09,2.085520e+10,NaN,2.311719e+11
1,2,2022-03-31,095570.KS,3M,1.367232e+12,7.085494e+11,8.722443e+11,46822295.0,7.616987e+11,-5.684873e+09,2.986065e+09,1.924275e+10,NaN,2.958036e+11
2,3,2022-06-30,095570.KS,3M,1.393164e+12,7.417214e+11,8.944401e+11,46822295.0,7.945438e+11,-2.998212e+10,-2.307404e+10,2.017060e+10,NaN,2.841796e+11
3,4,2022-09-30,095570.KS,3M,1.502038e+12,6.878904e+11,9.707050e+11,46822295.0,8.505236e+11,-3.782955e+10,-3.116973e+10,2.018529e+10,NaN,3.451102e+11
4,5,2021-12-31,006840.KS,3M,4.548737e+12,1.717820e+12,2.206182e+12,13247561.0,1.690948e+12,-2.981232e+10,1.132202e+10,-5.017029e+10,NaN,8.130565e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4924,4925,2022-01-31,ZS,3M,2.422021e+09,1.480059e+09,9.896370e+08,141063000.0,5.308730e+08,2.944900e+07,4.826200e+07,-8.491000e+07,NaN,2.555630e+08
4925,4926,2022-04-30,ZS,3M,2.524544e+09,1.486155e+09,1.005206e+09,141847000.0,3.596850e+08,4.374500e+07,7.724100e+07,-8.835000e+07,NaN,2.868070e+08
4926,4927,2022-07-31,ZS,3M,2.832665e+09,1.541974e+09,1.045722e+09,143038000.0,NaN,7.477100e+07,1.031380e+08,-8.140700e+07,NaN,3.180590e+08
4927,4928,2022-10-31,ZS,3M,2.835732e+09,1.570817e+09,1.219253e+09,144210000.0,5.459700e+07,9.561400e+07,1.284570e+08,-6.305700e+07,NaN,3.555480e+08
4928,4929,2023-01-31,ZS,3M,3.039956e+09,1.669173e+09,1.215922e+09,145087000.0,NaN,6.281800e+07,8.948100e+07,-5.340100e+07,NaN,3.875980e+08

In [55]:
df.columns = ["date_time", "company_code", "period_type", "total_assets", "total_capitalization", "total_debt", "share_issued", "net_debt", "free_cash_flow",'operating_cash_flow', "ebit", "ebitda", "total_revenue"]
df

,date_time,company_code,period_type,total_assets,total_capitalization,total_debt,share_issued,net_debt,free_cash_flow,operating_cash_flow,ebit,ebitda,total_revenue
0,2021-12-31,095570.KS,3M,1.355044e+12,7.824658e+11,8.717952e+11,46822295.0,7.444261e+11,-2.684438e+10,-5.686381e+09,2.085520e+10,NaN,2.311719e+11
1,2022-03-31,095570.KS,3M,1.367232e+12,7.085494e+11,8.722443e+11,46822295.0,7.616987e+11,-5.684873e+09,2.986065e+09,1.924275e+10,NaN,2.958036e+11
2,2022-06-30,095570.KS,3M,1.393164e+12,7.417214e+11,8.944401e+11,46822295.0,7.945438e+11,-2.998212e+10,-2.307404e+10,2.017060e+10,NaN,2.841796e+11
3,2022-09-30,095570.KS,3M,1.502038e+12,6.878904e+11,9.707050e+11,46822295.0,8.505236e+11,-3.782955e+10,-3.116973e+10,2.018529e+10,NaN,3.451102e+11
4,2021-12-31,006840.KS,3M,4.548737e+12,1.717820e+12,2.206182e+12,13247561.0,1.690948e+12,-2.981232e+10,1.132202e+10,-5.017029e+10,NaN,8.130565e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4924,2022-01-31,ZS,3M,2.422021e+09,1.480059e+09,9.896370e+08,141063000.0,5.308730e+08,2.944900e+07,4.826200e+07,-8.491000e+07,NaN,2.555630e+08
4925,2022-04-30,ZS,3M,2.524544e+09,1.486155e+09,1.005206e+09,141847000.0,3.596850e+08,4.374500e+07,7.724100e+07,-8.835000e+07,NaN,2.868070e+08
4926,2022-07-31,ZS,3M,2.832665e+09,1.541974e+09,1.045722e+09,143038000.0,NaN,7.477100e+07,1.031380e+08,-8.140700e+07,NaN,3.180590e+08
4927,2022-10-31,ZS,3M,2.835732e+09,1.570817e+09,1.219253e+09,144210000.0,5.459700e+07,9.561400e+07,1.284570e+08,-6.305700e+07,NaN,3.555480e+08
4928,2023-01-31,ZS,3M,3.039956e+09,1.669173e+09,1.215922e+09,145087000.0,NaN,6.281800e+07,8.948100e+07,-5.340100e+07,NaN,3.875980e+08

In [56]:
engine = create_engine("mysql+pymysql://root:"+"returnz_c106!"+"@j8c106.p.ssafy.io:3306/returnz?charset=utf8")

In [50]:
df.columns.unique()

Index(['financial_information_id', 'date_time', 'company_code', 'period_type',
       'total_assets', 'total_capitalization', 'total_debt', 'share_issued',
       'net_debt', 'free_cash_flow', 'operating_cash_flow', 'ebit', 'ebitda',
       'total_revenue'],
      dtype='object')

In [59]:
df.to_sql(name="financial_information", con=engine, if_exists='append', index=False)

4929