In [10]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime
import yahooquery as yq
from yahooquery import Ticker
from datetime import datetime, timedelta

# s1 = pd.read_csv("./all_stocks_basic_data.csv", encoding='euc-kr')
# s1 = s1.iloc[:, 1]
# s1 = s1.values
# symbols = s1.tolist()
# s1
symbols = ['aapl', 'amzn', 'nflx', 'goog']
tickers = Ticker(symbols)
symbols

['aapl', 'amzn', 'nflx', 'goog']

In [11]:
# 1일단위 데이터 추출
interval='1d'
start = '1997-01-01'
end = datetime.today()
df = pd.DataFrame()
a = tickers.history(start=start, end=end, interval=interval)
# 멀티인덱스 수정
company_datas = dict()
for company in symbols:
    tmp_df = a.loc[company]
    company_datas[company] = tmp_df
    company_datas[company]["date"] = company_datas[company].index
    company_datas[company]["symbol"] = company
    df = pd.concat([df, company_datas[company]], axis=0)
df

,open,high,low,close,volume,adjclose,dividends,splits,date,symbol
date,,,,,,,,,,
1996-12-31,0.190848,0.191964,0.185268,0.186384,3.837456e+08,0.160272,0.0,0.0,1996-12-31,aapl
1997-01-02,0.188616,0.189732,0.185268,0.187500,1.431136e+08,0.161232,0.0,0.0,1997-01-02,aapl
1997-01-03,0.188616,0.198661,0.187500,0.194196,1.197168e+08,0.166990,0.0,0.0,1997-01-03,aapl
1997-01-06,0.157366,0.163783,0.154018,0.159598,1.882832e+09,0.137239,0.0,0.0,1997-01-06,aapl
1997-01-07,0.161830,0.162946,0.156250,0.156250,9.769312e+08,0.134360,0.0,0.0,1997-01-07,aapl
...,...,...,...,...,...,...,...,...,...,...
2023-03-10,92.500000,93.180000,90.800003,91.010002,3.283170e+07,91.010002,0.0,0.0,2023-03-10,goog
2023-03-13,90.565002,93.080002,89.940002,91.660004,3.150860e+07,91.660004,0.0,0.0,2023-03-13,goog
2023-03-14,93.070000,94.830002,92.779999,94.250000,3.230390e+07,94.250000,0.0,0.0,2023-03-14,goog
2023-03-15,93.540001,97.250000,93.040001,96.550003,3.836730e+07,96.550003,0.0,0.0,2023-03-15,goog
2023-03-16,96.570000,101.970001,95.870003,101.070000,5.449950e+07,101.070000,0.0,0.0,2023-03-16,goog

In [12]:
df = df.drop(df.columns[[-2]], axis=1)
# df.to_csv("C:/Users/SSAFY/Downloads/drafts2.csv", sep=',', encoding='utf-8')
df

,open,high,low,close,volume,adjclose,dividends,splits,symbol
date,,,,,,,,,
1996-12-31,0.190848,0.191964,0.185268,0.186384,3.837456e+08,0.160272,0.0,0.0,aapl
1997-01-02,0.188616,0.189732,0.185268,0.187500,1.431136e+08,0.161232,0.0,0.0,aapl
1997-01-03,0.188616,0.198661,0.187500,0.194196,1.197168e+08,0.166990,0.0,0.0,aapl
1997-01-06,0.157366,0.163783,0.154018,0.159598,1.882832e+09,0.137239,0.0,0.0,aapl
1997-01-07,0.161830,0.162946,0.156250,0.156250,9.769312e+08,0.134360,0.0,0.0,aapl
...,...,...,...,...,...,...,...,...,...
2023-03-10,92.500000,93.180000,90.800003,91.010002,3.283170e+07,91.010002,0.0,0.0,goog
2023-03-13,90.565002,93.080002,89.940002,91.660004,3.150860e+07,91.660004,0.0,0.0,goog
2023-03-14,93.070000,94.830002,92.779999,94.250000,3.230390e+07,94.250000,0.0,0.0,goog
2023-03-15,93.540001,97.250000,93.040001,96.550003,3.836730e+07,96.550003,0.0,0.0,goog
2023-03-16,96.570000,101.970001,95.870003,101.070000,5.449950e+07,101.070000,0.0,0.0,goog