In [7]:
import pandas as pd
import numpy as np
import yfinance as yf
import datetime
import yahooquery as yq
from yahooquery import Ticker
from datetime import datetime, timedelta

# s1 = pd.read_csv("./all_stocks_basic_data.csv", encoding='euc-kr')
# s1 = s1.iloc[:, 1]
# s1 = s1.values
# symbols = s1.tolist()
# s1
symbols = ['aapl', 'amzn', 'nflx', 'goog']
tickers = Ticker(symbols)
symbols

['aapl', 'amzn', 'nflx', 'goog']

In [8]:
# # 1시간단위 데이터 추출
# interval='1m'
# end = datetime.today()
# df = pd.DataFrame()
# for i in range(1, 5):
#     start = end-timedelta(days=7)
#     a = tickers.history(start=start, end=end, interval=interval)
#     # 멀티인덱스 수정
#     company_datas = dict()
#     for company in symbols:
#         tmp_df = a.loc[company]
#         company_datas[company] = tmp_df
#         company_datas[company]["date"] = company_datas[company].index
#         company_datas[company]["symbol"] = company
#         df = pd.concat([df, company_datas[company]], axis=0)
#     end = start
    
# df

In [16]:
# 1시간단위 데이터 추출
interval='1h'
start = datetime.today()-timedelta(days=729)
end = datetime.today()
df = pd.DataFrame()
a = tickers.history(start=start, end=end, interval=interval)
# 멀티인덱스 수정
company_datas = dict()
for company in symbols:
    tmp_df = a.loc[company]
    company_datas[company] = tmp_df
    company_datas[company]["date"] = company_datas[company].index
    company_datas[company]["symbol"] = company
    df = pd.concat([df, company_datas[company]], axis=0)
df

,open,high,low,close,volume,dividends,splits,date,symbol
date,,,,,,,,,
2021-03-18 09:30:00-04:00,122.879997,123.180000,121.589996,122.184998,28495155.0,0.0,0.0,2021-03-18 09:30:00-04:00,aapl
2021-03-18 10:30:00-04:00,122.180000,122.730003,121.959999,122.209999,14297367.0,0.0,0.0,2021-03-18 10:30:00-04:00,aapl
2021-03-18 11:30:00-04:00,122.209999,122.589996,121.809998,122.320000,11096936.0,0.0,0.0,2021-03-18 11:30:00-04:00,aapl
2021-03-18 12:30:00-04:00,122.320000,122.339996,121.699997,121.900002,10499918.0,0.0,0.0,2021-03-18 12:30:00-04:00,aapl
2021-03-18 13:30:00-04:00,121.900101,122.214996,121.379997,121.425003,12388185.0,0.0,0.0,2021-03-18 13:30:00-04:00,aapl
...,...,...,...,...,...,...,...,...,...
2023-03-16 12:30:00-04:00,100.250000,101.165001,100.120003,100.970001,4775298.0,0.0,0.0,2023-03-16 12:30:00-04:00,goog
2023-03-16 13:30:00-04:00,100.970001,101.230003,100.730003,101.230003,4627064.0,0.0,0.0,2023-03-16 13:30:00-04:00,goog
2023-03-16 14:30:00-04:00,101.220001,101.970001,100.930000,101.750000,9423411.0,0.0,0.0,2023-03-16 14:30:00-04:00,goog
2023-03-16 15:30:00-04:00,101.750000,101.800003,100.764999,101.070000,6554671.0,0.0,0.0,2023-03-16 15:30:00-04:00,goog
2023-03-16 16:00:00-04:00,101.070000,101.070000,101.070000,101.070000,0.0,0.0,0.0,2023-03-16 16:00:00-04:00,goog

In [ ]:
# df = df.drop(df.columns[[5]], axis=1)
# df.to_csv("C:/Users/SSAFY/Downloads/drafts2.csv", sep=',', encoding='utf-8')